html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-nav {
    font-size: 1.5rem;
}

.main-nav a {
    margin-right: 5px;
    color: #FFFFFF;
}

.header {
    background-color: #303F9F;
    /* padding-top: 10px; */
    padding: 20px 30px;
}

.search-div {
    margin: 20px auto;
    width: 30%;
}

.author-info {
    font-size: 0.8rem;
    color: gray;
}

.statement-title {
    text-align: center;
}

.statement-img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    /* border: 1px solid #BDBDBD; */
    border-width: 1px;
    border-color:  #BDBDBD;
    border-top-style: solid;
    border-bottom-style: solid;
}

.pet-list {
    padding: 30px;
    display: flex;
}

.statement {
    padding: 0px 5px;
    width: 300px;
    border: 1px solid #BDBDBD;
    margin-right: 50px;
}

.search-input {
    width: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
    height: 20px;
}